<h2 style="margin-top: 20px;">Change log</h2>


<table border="1">
  <tr>
    <td width="250">Kapan diubah</td>
    <td width="150">Perubahan</td>
  </tr>
  <tr *ngFor="let c of changes">
    <ng-container *ngIf="c.user$ | async as user">
      <td>
        <img [src]="user.photoURL" style="float: left;">
        {{ c.ts | date:'short' }}<br>
        <app-user-link [uid]="user.userid"></app-user-link>
        ({{ USER_ROLE[user.role] }})<br>
        <ng-container *ngIf="user.email">
          {{ user.email }}<br>
        </ng-container>
      </td>
      <td>
        {{ c.key }} :
        <ng-container *ngIf="c.prev !== undefined">{{c.prev}} -&gt;</ng-container>
        {{ c.value }}
      </td>
    </ng-container>
  </tr>
</table>
