<form *ngIf="placeData$ | async as placeData" [formGroup]="rsForm" class="rs-form"
  (ngSubmit)="onSubmit(rsForm.value, placeData.place.place_id)">
  <app-map [height]="250" [place]="placeData.place"></app-map>

  <br>

  <h1><b><i>{{ placeData.place.name }}</i></b></h1>

  <p>Silahkan perbaharui data untuk rumah sakit saat ini.</p>

  <mat-form-field class="rs-full-width">
    <mat-label>ODP (Jumlah Orang Dalam Pantauan)</mat-label>
    <input matInput type="number" formControlName="odp">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>PDP+ (Jumlah Pasien Dalam Pengawasan yang Meninggal)</mat-label>
    <input matInput type="number" formControlName="pdpp">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>PDP* (Jumlah Pasien Dalam Pengawasan yang Sembuh)</mat-label>
    <input matInput type="number" formControlName="pdps">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Cov+ (Jumlah Pasien Positif yang Meninggal)</mat-label>
    <input matInput type="number" formControlName="covp">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Cov* (Jumlah Pasien Positif yang Sembuh)</mat-label>
    <input matInput type="number" formControlName="covs">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Jumlah masker tambahan yang dibutuhkan saat ini</mat-label>
    <input matInput type="number" formControlName="maskers">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Jumlah sarung tangan tambahan yang dibutuhkan saat ini</mat-label>
    <input matInput type="number" formControlName="gloves">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Jumlah baju hazmat tambahan yang dibutuhkan saat ini</mat-label>
    <input matInput type="number" formControlName="hazmats">
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Alat pelindung diri lainnya yang dibutuhkan saat ini</mat-label>
    <textarea matInput formControlName="others" rows="5" cols="50"></textarea>
  </mat-form-field>

  <mat-form-field class="rs-full-width">
    <mat-label>Nama dan nomor WA anda atau orang yang dapat dihubungi untuk RS ini</mat-label>
    <textarea matInput formControlName="contact" rows="5" cols="50"></textarea>
  </mat-form-field>

  <p *ngIf="status == 'done' && !rsForm.dirty" class="ok">Data berhasil diubah</p>
  <p *ngIf="status == 'updating'">Data sedang diubah ...</p>
  <button *ngIf="rsForm.dirty" mat-raised-button type="submit" color="primary">Ubah Data</button>
</form>
<br><br><br><br><br><br>
