<div #mapContainer id="map"></div>

<div id="infowindow-content">
  <img id="place-icon" src="" height="16" width="16"> &nbsp;
  <span id="place-name" class="title"></span><br>
</div>

<div [hidden]="(id$ | async) != ''">
  <form [formGroup]="rsForm" (ngSubmit)="generateLink(rsForm.value)" class="rs-form">
    <mat-form-field class="rs-full-width">
      <mat-label>Cari Rumah Sakit</mat-label>
      <input matInput #pacInput autocomplete="false" formControlName="rs_name"
        placeholder="Masukkan nama atau alamat rumah sakit">
    </mat-form-field>

    <div *ngIf="placeId">
      <p>Link untuk mengubah data rumah sakit ini:</p>
      <a [routerLink]="['/rs', placeId]">https://kawalcovid19.web.app/rs/{{ placeId }}</a>
    </div>
  </form>
</div>

<div *ngIf="id$ | async">
  <form *ngIf="place$ | async as place" [formGroup]="rsForm" class="rs-form" (ngSubmit)="onSubmit(rsForm.value, place)">
    <h1><b><i>{{ placeName }}</i></b></h1>

    <p>Silahkan perbaharui data untuk rumah sakit saat ini.</p>

    <mat-form-field class="rs-full-width">
      <mat-label>ODP (Jumlah Orang Dalam Pantauan)</mat-label>
      <input matInput formControlName="odp">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>PDP+ (Jumlah Pasien Dalam Pengawasan yang Meninggal)</mat-label>
      <input matInput formControlName="pdpp">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>PDP* (Jumlah Pasien Dalam Pengawasan yang Sembuh)</mat-label>
      <input matInput formControlName="pdps">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Cov+ (Jumlah Pasien Positif yang Meninggal)</mat-label>
      <input matInput formControlName="covp">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Cov* (Jumlah Pasien Positif yang Sembuh)</mat-label>
      <input matInput formControlName="covs">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Jumlah masker tambahan yang dibutuhkan saat ini</mat-label>
      <input matInput formControlName="maskers">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Jumlah sarung tangan tambahan yang dibutuhkan saat ini</mat-label>
      <input matInput formControlName="gloves">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Jumlah baju hazmat tambahan yang dibutuhkan saat ini</mat-label>
      <input matInput formControlName="hazmats">
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Alat pelindung diri lainnya yang dibutuhkan saat ini</mat-label>
      <textarea matInput formControlName="others" rows="5" cols="50"></textarea>
    </mat-form-field>

    <mat-form-field class="rs-full-width">
      <mat-label>Nama dan nomor WA anda atau orang yang dapat dihubungi untuk RS ini</mat-label>
      <textarea matInput formControlName="contact" rows="5" cols="50"></textarea>
    </mat-form-field>

    <p *ngIf="status == 'done'" class="ok">Data berhasil diubah</p>
    <button *ngIf="rsForm.dirty" mat-raised-button type="submit" color="primary">Ubah Data</button>

    <!--

  <p></p>
  <hr>
  <h1>Riwayat Perubahan:</h1>

  <table>
    <tr>
      <th>Tanggal</th>
      <th>ODP</th>
      <th>PDP</th>
      <th>masker</th>
      <th>sarung</th>
      <th>hazmat</th>
      <th>lainnya</th>
      <th>kontak WA</th>
    </tr>
    <tr *ngFor="let r of requests$ | async">
      <td>{{r.timestamp.toDate() }}</td>
      <td>{{r.odp}}</td>
      <td>{{r.pdp}}</td>
      <td>{{r.maskers}}</td>
      <td>{{r.gloves}}</td>
      <td>{{r.hazmats}}</td>
      <td>{{r.others}}</td>
      <td>{{r.contact}}</td>
    </tr>
  </table> -->
  </form>
</div>

<br><br><br><br><br><br>
