h1 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
  font-weight: 600;
}

.title {
  border-bottom: 1px solid #E1E2E6;
  margin-top: 16px;
  margin-bottom: 16px;
}

.rs-form {
  width: 100%;
}

.rs-full-width {
  width: 100%;
}

.input-wrapper label {
  margin-bottom: 4px;
  display: block;
}

.input-wrapper {
  margin-bottom: 24px;
}

.btn {
  background-color: #219653;
  color: white;
  width: 100%;
  margin-bottom: 16px;
}

.link {
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.link .icon {
  margin-right: 8px;
}

.radio {
  margin-bottom: 8px;
  display: block;
}

.ok {
  color: green;
  font-weight: bold;
  font-size: 14px;
}

tr:nth-child(even) {
  background: #FFF
}

tr:nth-child(odd) {
  background: #DDD
}

td {
  padding: 5px;
}

mat-form-field {
  margin-bottom: -1.25em;
  width: 100px;
}