#map {
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
 }

#infowindow-content {
  display: none;
  height: 400px;
}

#map #infowindow-content {
  display: inline;
}

.rs-form {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
  padding-left: 5px;
}

.rs-full-width {
  width: 100%;
}


.ok {
  color: green;
  font-weight: bold;
  font-size: 14px;
}
