/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  color: #3389FE;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s ease;
}

a:hover,
a:focus {
  color: #286ccc;
  transition: all .3s ease;
}

.responsive {
  display: block;
  padding: 0 16px;
}

.text-muted{
  color:#333;
}
.text-success{
  color:#219653;
}
.text-warning{
  color:#9F6000;
}
.text-danger{
  color:#D8232A;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}

@media screen and (min-width: 575px) {
  .responsive {
    width: 90%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
