<div class="map-wrapper">
  <app-map [height]="200" [place]="place" (clickedPlaceId)="generateLink($event)"></app-map>
</div>

<h2>Cari Rumah Sakit</h2>

<form class="rs-form responsive">
  <mat-form-field class="rs-full-width" appearance="outline">
    <mat-label>Masukan nama atau alamat rumah sakit</mat-label>
    <input matInput #pacInput (click)="scrollIntoView()">
  </mat-form-field>

  <div *ngIf="place">
    <p>Link untuk mengubah data rumah sakit ini:</p>
    <a [routerLink]="['/rs', place.place_id]">https://kawalcovid19.web.app/rs/{{ place.place_id }}</a>
  </div>
</form>

<br #anchor>