<div class="map-wrapper">
  <app-map [height]="40" [place]="place$ | async" (clickedPlaceId)="placeDetailTrigger$.next($event)"></app-map>
</div>

<form class="rs-form responsive">
  <h2>Cari Rumah Sakit</h2>

  <mat-form-field class="rs-full-width" appearance="outline">
    <mat-label>Masukan nama atau alamat rumah sakit</mat-label>
    <input matInput #pacInput (click)="scrollIntoView()">
  </mat-form-field>

  <!-- Keep this anchor for space for autocomplete -->
  <br #anchor>

  <div *ngIf="place$ | async as place; else balik">
    <app-rs-detail [placeId]="place.place_id"></app-rs-detail>
  </div>

  <ng-template #balik>
    <br><br><br>
    <hr>
    <a [routerLink]="['/home']" class="link">
      <mat-icon class="icon">reorder</mat-icon> Kembali ke halaman aggregated data
    </a>
  </ng-template>
</form>
