<!-- begin: BANNER -->
<div class="beranda-banner">
  <div class="left-banner">
    <ng-container *ngIf="!userService.role; else authenticatedUserTemplate">
      <h1>Ayo kawal kebutuhan rumah sakit agar dapat maksimal tangani Covid-19.</h1>
      <p>Bergabunglah dengan aksi bersama #KawalRumahSakit untuk menjadi relawan yang memantau kebutuhan tenaga medis di Fasyankes (Rumah Sakit/Puskesmas/klinik) yang menangani Covid-19.</p>
      <a mat-raised-button color="primary" routerLink="/login">
        <mat-icon>person_add</mat-icon>
        <span class="marg-left-2">Bergabung menjadi relawan</span>
      </a>
    </ng-container>
    <ng-template #authenticatedUserTemplate>
      <ng-container *ngIf="userService.user$ | async as user">
        <!-- PUBLIC and need fill registration form -->
        <ng-container *ngIf="userService.role=='PUBLIC' && !userService.isRegistrationInfoCompleted">
          <h1>Hai, {{ user.displayName}}.<br/>Terima kasih telah bergabung, mohon lengkapi profil anda.</h1>
          <p>Anda telah mengajukan diri sebagai relawan Kawal rumah sakit. Selanjutnya anda perlu melengkapi profil supaya moderator kami dapat menindaklanjuti pengajuan anda menjadi relawan yang terverifikasi.</p>
          <a mat-raised-button color="primary" routerLink="/login">
            <mat-icon>edit</mat-icon>
            <span class="marg-left-2">Lengkapi profil</span>
          </a>
        </ng-container>
        <!-- PUBLIC and already filled registration form -->
        <ng-container *ngIf="userService.role=='PUBLIC' && userService.isRegistrationInfoCompleted">
          <h1>Hai, {{ user.displayName}}.<br/> Terima kasih telah bergabung dan melengkapi profil anda.</h1>
          <p>Anda sekarang dapat memperbarui data kebutuhan APD dan Faskes (Rumah Sakit/Puskesmas/Klinik). Data faskes yang anda perbarui dapat dilihat publik setelah anda menjadi relawan yang terverifikasi.</p>
          <a mat-raised-button color="primary" routerLink="/rs">
            <mat-icon>search</mat-icon>
            <span class="marg-left-2">Temukan Fakses dan mulai melengkapi data </span>
          </a>
        </ng-container>
        <!-- RELAWAN -->
        <ng-container *ngIf="userService.role=='RELAWAN' && userService.isRegistrationInfoCompleted">
          <h1>Hai, {{ user.displayName}}.<br/>Selamat, anda telah menjadi relawan terverifikasi.</h1>
          <p>Anda sekarang sudah bisa memperbarui data kebutuhan APD dan Faskes (Rumah Sakit/Puskesmas/Klinik). Data yang anda perbarui dapat langsung diakses oleh publik.</p>
          <a mat-raised-button color="primary" routerLink="/rs">
            <mat-icon>search</mat-icon>
            <span class="marg-left-2">Temukan Fakses dan mulai memperbarui data </span>
          </a>
        </ng-container>
        <!-- MODERATOR -->
        <ng-container *ngIf="userService.isModerator">
          <h1>Hai, {{ user.displayName}}.<br/>Anda merupakan moderator di website ini.</h1>
          <p>Anda dapat melakukan verifikasi pengguna dan mengangkatnya menjadi relawan. Selain itu, anda dapat mereview keabsahan data yang diisikan oleh relawan di setiap faskes.</p>
          <a mat-raised-button color="primary" routerLink="/admin">
            <mat-icon>settings</mat-icon>
            <span class="marg-left-2">Kelola relawan</span>
          </a>
        </ng-container>

      </ng-container>
    </ng-template>
  </div>
  <div class="">
    <img src="../assets/campaign-banner.png" alt="Kawal kebutuhan rumah sakit">
  </div>
</div>
<!-- end: BANNER -->

<!-- begin: RECENT RS -->
<div class="recent-header">
  <h2>Permintaan kebutuhan Faskes terbaru</h2>
  <a routerLink="/list" mat-button>Lihat lebih lengkap <mat-icon>arrow_forward</mat-icon></a>
</div>
<app-list-recent></app-list-recent>
<!-- end: RECENT RS -->

<!-- begin: SHARE SOCIAL MEDIA -->
<div class="social-media-section">
  <div class="social-media-section-content">
    <h1>
      Mari kita bangun komunikasi dengan nakes untuk kawal kebutuhan APD dan Faskes (fasilitas kesehatan lainnya) di Fasyankes (Rumah Sakit/Puskesmas/Klinik) seluruh Indonesia.
    </h1>
    <div class="social-media-buttons-container">
      <span class="title">BAGIKAN MELALUI</span>
      <div class="social-media-buttons">
        <share-facebook [url]="'https://kawalrumahsakit.id'"></share-facebook>
        <share-twitter [text]="'Mari kita bangun komunikasi dengan nakes untuk kawal kebutuhan APD dan Faskes (fasilitas kesehatan lainnya) di Fasyankes (Rumah Sakit/Puskesmas/Klinik) seluruh Indonesia'">
        </share-twitter>
        <share-whatsapp [text]="'Mari kita bangun komunikasi dengan nakes untuk kawal kebutuhan APD dan Faskes (fasilitas kesehatan lainnya) di Fasyankes (Rumah Sakit/Puskesmas/Klinik) seluruh Indonesia'">
        </share-whatsapp>
      </div>
    </div>
  </div>
</div>
<!-- end: SHARE SOCIAL MEDIA -->

<!-- begin: follow KawalRumahSakit sosmed -->
<div class="home-footer-section">
  <div class="social-media-accounts">
    <div class="marg-bot-2"><strong>Ikuti kami di media sosial</strong></div>
    <div class="social-media-links">
      <a href="https://instagram.com/kawalrumahsakit" class="btn-brand-instagram"><span class="icon-instagram"></span>Instagram</a>
      <a href="https://web.facebook.com/kawalrumahsakit" class="btn-brand-facebook"><span class="icon-facebook"></span>Facebook</a>
      <a href="https://twitter.com/kawalrumahsakit" class="btn-brand-twitter"><span class="icon-twitter"></span>Twitter</a>
    </div>
  </div>
  <div class="powered-by">
    <div class="left-side">
      <div class="kawalrs">kawalrumahsakit.id</div>
      <div class="powered">powered by</div>
    </div>
    <div class="right-side">
      <a href="https://kawalcovid19.id"><img src="assets/Kawalcovid19@3x.png" alt="Kawalcovid19"></a>
    </div>
  </div>
</div>
<!-- end: follow KawalRumahSakit sosmed -->
